numpy==1.26.4
pywer
xlwt
beautifulsoup4==4.12.2
datasets
fire==0.5.0
genalog==0.1.0
jsonlines==3.1.0
langdetect==1.0.9
loader==2017.9.11
nltk
openai
pandas
peft==0.3.0
pipe==2.0
pysbd==0.3.4
PyYAML
scikit_learn
textdistance
torch
tqdm
transformers
accelerate
python-levenshtein
datasets
sacrebleu
pandarallel
